h1 {
  background-color: #fff;
  color: #000;
}

a {
  color: #900;
  text-decoration: none;
}
a:hover {
  color: red;
  margin: 1rem 0;
}

.navigation {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
  border-bottom: 2px;
  border-top: 1px;
  border-color: #900;
  padding: 1rem;

  border-top: 3px solid rgba(126, 21, 21, 0.5);
  border-bottom: 3px solid rgba(126, 21, 21, 0.5);
  
  background-color: #eee;

  a::before {
    content: "·";
    color: black;
    padding-right: 5px;
  }
}

.first::before {
  content: "" !important;
}
.container {
  max-width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
  background-color: white;
  padding: 3.5rem;
  margin: 1.5rem;
  .navigation {
    flex-grow: 1;
    width: 100%;
  }
}
body {
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "Roboto", sans-serif;
}

.content {
  a {
    background-color: #f6f6f6;
  }
  .content-header {
      display: flex;
      justify-content: space-between;
  }
}
.bottom {
  border: 10px;

  a::before {
    content: "·";
    color: black;
    padding-right: 15px;
  }
  ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    li {
      padding-left: 10px;
    }
  }
}
hr {
  width: 75%;
  border: none;
  color: #999;
  background-color: gray;
  height: 1px;
}
