$dm_serif: 'DM Serif Display', serif;
$karla: 'Karla', sans-serif;

$mobile: 375px;
$desktop: 1440px;

$dark_violet: hsl(256, 26%, 20%);
$grayish_blue: hsl(216, 30%, 68%);

$very_dark_violet: hsl(270, 9%, 17%);
$dark_grayish_violet: hsl(273, 4%, 51%);
$very_light_gray: hsl(0, 0%, 98%);

body{
  font-family: $karla;
  font-weight: 400;
  line-height: 1.6;
}

h1, h2, h3{
    font-family: $dm_serif;
    font-weight: 400;
}
a{
    text-decoration: none;
}
#close, #menu{
    display: none;
}
.header{
    display: flex;
    flex-direction: row;
    padding: 1.5rem;

    .logo{
        // width: 100%;
        height: 100%;

    }
    #show, #close{
        margin-left: auto;
    }

    
}
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

.menu{
    background-color: $dark_grayish_violet;
    height: 70vh;
    background-image: url(images/bg-pattern-mobile-nav.svg);
    background-position: bottom;
    background-repeat: no-repeat;
    ul{
        padding: 0px;
        margin: 0px;
        width: 100%;
        list-style: none;

        li{
            text-align: center;
            width: 90%;
            margin: auto;
            padding: 1rem;
           
            
            
            a{
                color: white;
                font-weight: 700;
                text-transform: uppercase;
                text-decoration: none;
            }
        }
        li:last-child {
            border: 2px solid;
            border-color: white;

        }
        li:last-child:hover {
            border: 2px solid;
            border-color: white;
            background-color: white;
        
            a{
                color: $dark_grayish_violet;
            }
        }
    }
}
.into_img{
    width: 100%;
    margin: auto 0;
    padding: 0px;
}

button{
    padding: 1rem 3rem;
    color: white;
    background-color: $dark_violet;
    border: 2px solid;
    border-color: white;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 700;
}
button:hover{
    background-color: white;
    color: $dark_violet;
}
.humanizing{
    padding: 3rem 1.5rem;
    text-align: center;
    background-color: $dark_violet;
    color: white;
    // height: 70vh;
    background-image: url(images/bg-pattern-intro-left-mobile.svg);
    background-position: left top;
    background-position-y: 0rem;
    background-repeat: no-repeat;
}
.pros{
    position: relative;
    .r-img{
        position: absolute;
        top: -170px;
        right: 0px;
        float: right;
    }
    hr{
        width: 50%;
    }
    padding: 7rem 1.5rem;
    text-align: center;
    h2{
        font-weight: 400;
        font-size: 3rem;
    }
    h3{
        padding-top: 2rem;
        font-weight: 400;
        font-size: 2rem;
    }
}
.how-work{
    text-align: center;
    padding: 3rem 1.5rem;
    background-color: $dark_violet;
    color: white;
    margin: 1.5rem;
    background-image: url(images/bg-pattern-how-we-work-mobile.svg);
    background-position: right top;
    background-repeat: no-repeat;
    h2{
        font-weight: 400;
        font-size: 2rem;
        font-family: $dm_serif;
    }
}
.icons{
    background-image: url(images/bg-pattern-footer-mobile.svg);
    background-position: top;
    background-repeat: no-repeat;
    text-align: center;
    // height: 50vh;
    padding: 5rem;
    margin-top: 10rem;
    // padding-bottom: 1rem;;
    .small{
        padding: 1rem;
        a{
            padding: 9px;
        }
    }
}

.footer{
    background-position: right top;
    background-repeat: no-repeat;
    hr{
        width: 80%;
    }
    text-align: center;
    .column{
        display: flex;
        flex-direction: column;
        .title{
            text-transform: uppercase;
            color: $dark_grayish_violet;
            font-weight: 700;
            padding: 2rem;
        }
        a{
            padding: 5px;
            color: $very_dark_violet;
            text-transform: uppercase;
            font-weight: 700;
        }
    }
}

.attribution{
    padding: 3rem;
}